.NavBarWrapper {
  border-style: solid;
  border-width: 2px;
  border-color: red;
}

.NavBarTableWrapper {
  border-style: solid;
  border-width: 5px;
  border-color: blue;
}

.NavBarFlex {
  flex: 1;
}

.NavBarLeftWrapper {
  align-items: flex-start;
}

.NavBarRightWrapper {
  align-items: flex-end;
}

.NavBarTitle {
  flex: 1;
  margin-left: 15px;
}

.NavBarProfilePicture {
  border-radius: 20px;
  width: 48px;
  height: 48px;
}
